body { display: none; }

body {
  background-color: black;
}

body, html {
    height: 100%;
    margin:0;
}



.background {
  background-image: url("../img/HeroBg.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
    
.foreground { 
  background-color: transparent;
  position: relative;
  width:100%;
  height:100%;
  z-index:2;
  margin-top: -50%;
}

.page2 {
  background-image: url("../img/page2.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#text {
  text-align: center;
  z-index: 3;
  font-family: 'consolas';
  position: absolute;
  margin-left: 23.5%;
  margin-top: 7%;
}

#t {
color: rgb(235, 235, 18);
font-size: 90px;
}

#stack {
color: rgb(27, 146, 226);
font-size: 65px;
}

#first {
color:rgb(255, 136, 0);
font-size: 35px;
}
 
@media screen and (max-width: 800px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }

    #text {
      text-align: center;
      z-index: 3;
      font-family: 'consolas';
      position: absolute;
      margin-left: 18%;
      margin-top: -25px;
    }
    
    #t {
    color: rgb(235, 235, 18);
    font-size: 70px;
    }
    
    #stack {
    color: rgb(27, 146, 226);
    font-size: 45px;
    }
    
    #first {
    color:rgb(255, 136, 0);
    font-size: 25px;
    }
  


  .slicknav_menu {
    position: relative;
  }

}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }

  .foreground { 
    background-color: transparent;
    position: relative;
    width:100%;
    height:100%;
    z-index:2;
    margin-top: -175%;
  }

  .slicknav_menu {
    position: relative;
  }

  #text {
    text-align: center;
    z-index: 3;
    font-family: 'consolas';
    position: absolute;
    margin-left: 5%;
    margin-top: -25px;
  }
  
  #t {
  color: rgb(235, 235, 18);
  font-size: 70px;
  }
  
  #stack {
  color: rgb(27, 146, 226);
  font-size: 45px
  }
  
  #first {
  color:rgb(255, 136, 0);
  font-size: 25px;
  }

  

.slicknav_menu {
  position: relative;
}

}
    